.categories-container
  width 100%
  height 1000px
  padding 0 0 32px
  display: flex
  flex-flow: column wrap;
  .categories-card
    position: relative
    width 240px
    min-height 100px
    margin 8px
    break-inside avoid
    text-align left
    z-index 1
    background-position: center top;
    background-size: cover;
    &:before
      content: '';
      position: absolute
      top 0
      left 0
      right 0
      bottom 0
      box-shadow: 0 1px 10px rgba(200, 200, 200, 0.3);
    &:after
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(249,250,251,0.35);
      z-index: -1;
      background-position: center top;
      background-size: cover;
      background-attachment: fixed;
    .categories-card-header
      width 100%
      height 42px
      line-height 42px
      vertical-align middle
      border-bottom 1px dashed #dfdede
      .categories-card-header-content
        padding 0 16px
        display flex
        justify-content space-between
        align-items: center
        a
          color rgb(20, 28, 52)
          text-decoration none
          font-size 16px
          font-weight bold
          font-family "JetBrains Mono", Lato-Bold, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    .categories-card-body
      padding 16px
      .article-item
        position relative
        width 100%
        line-height 24px
        .article-item-link
          font-size 14px
          color rgb(40, 40, 40)
          text-decoration none
          font-style italic
          font-family "JetBrains Mono", Lato-Bold, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
          &:hover
            text-decoration underline
      .article-item:hover
        transform scale(1.02)
        .article-item-link
          color $theme-color
      .article-item::before
        position absolute
        top 12px
        content ""
        display block
        width 4px
        height 1px
        background-color $theme-color


