html
  font-family $font-family

.content-outer
  display flex
  justify-content center
  width 100%;
  .content-inner
    width 1000px
    margin-bottom 16px
  p
    width 100%
    img
      width 100%
  table
    width 100%;
    margin 32px 0
    color $excerpt-color
    font-size 14px
    display flex
    flex-direction column
    justify-content fle-start
    align-items space-between
    thead
      width 100%;
      line-height 40px
      background-color #F4F4F4
      tr
        width 100%;
        th
          min-width 160px
    tbody
      width 100%
      tr
        width 100%;
        display block
        line-height 40px
        border-bottom 1px solid #F4F4F4
        td
          min-width 160px
          &:first-child
            text-align center



.highlight
  margin 28px 0
  border-radius 6px
  overflow hidden
  font-size 14px
  table
    width 100%
    border none
    margin 0
    tbody
      tr
        td:first-child
          text-align left

.code
  padding 16px !important
  font-family $code-font-family
  line-height 19px


.paginator
  color $theme-color
  margin-bottom 32px
  .page-number, .extend, .space
    margin-right 24px


