article.post
  width 100%

.post-article
  padding 36px 60px
  box-sizing: border-box
  background-color: rgba(249,250,251,0.5);
  box-shadow: 0 1px 10px rgba(200, 200, 200, 0.3);
  font-family "JetBrains Mono", Lato-Bold, 'Helvetica Neue', Arial, 'Noto Sans'
  .post-content > table
    width 100%
  img
    display block
    position relative
    left 50%
    margin-bottom 12px
    transform: translateX(-50%)
  //.post-title
  //  color rgb(20, 28, 52)
  //  font-size 30px
  //  text-align: center
  //.post-date
  //  color rgb(40, 40, 40)
  //  text-align: center
  h1
  h2
    //margin: 2em auto 1.4em;
    //padding-left: 6px;
    //line-height: 1.4;
    //font-size: 1.6em;
    //border-left: 6px solid #f99157;



