.tag-container
  width 100%
  .tag-content
    display inline-block
    color: #f78769
    text-decoration: none
    font: 14px Lato
    transition: .3s
    margin: 0 10px 8px 0
    border: 1px dashed #ddd
    padding 2px 6px
    &:hover
      color: #ddd

.tag-content-name
  color: #f78769
  text-decoration: none
  font: 14px Lato
  transition: .3s
  &:hover
    color: #ddd

