$font-family = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
$code-font-family = JetBrains Mono, Segoe UI Emoji,Segoe UI Symbol;

// 茶花红主题色
$theme-color = #ee3f4d
$main-text-color = #5f6368

$title-color = #000
$excerpt-color = lighten($title-color, 40%)

