.paginator
  width 100%
  display flex
  justify-content center
  align-items center
  a
    color grey
    margin 0 12px
    text-decoration none
    cursor pointer
  span
    color grey
    margin 0 12px
  .current
    color #f78769
