.recent-posts
  width 100%
  padding-top 80px
  &-item
    width 100%
    min-height 80px
    margin-bottom 72px
    &-line
      width 30px
      height 1px
      margin-bottom 20px
      border-top 1.5px solid $title-color
    &-title
      font-size 16px
      margin-bottom 12px
    &-excerpt
      color $excerpt-color
      font-size 14px
      line-height 20px
      opacity 0.7
      margin-bottom 16px
    &-more
      font-size 13px
      a
        color $theme-color

